body {
    height: 100%;
  }
.badge-pill {
    border-radius: 100% !important;
}
#main_title{
    margin-left: 1rem;
    color: #FFFFFF;
}
canvas{
    border: 1px solid black;
}
#sticky-footer {
    flex-shrink: none;
  }
#page-content {
    margin-top: -10px;
    flex: 1 0 auto;
    background-color: #121212;
}
#navbar{
    margin-bottom: -8px;
}
#navbarText{
    flex: content;
    margin-left: 80%;
}
.nav-item{
    font-size: 18px;
}