.badge-pill {
    border-radius: 100% !important;
}
body{
  background:#121212 !important;
}
.badge{
	display: initial !important;
}
.card{
	min-height: 100%;
}
.card_info{
  min-height: 100%;
  background-color: #212121;
  color: #FFFFFF;
  margin-top: 5px;
}
#row_home{
	margin-top:5px;
}
#main_title{
    margin-left: 1rem;
    color: #FFFFFF;
}
canvas{
    border: 1px solid black;
}
#sticky-footer {
    padding: 1em;
    width: 100%;
    margin-top: 10px;
  }
#page-content {
    margin-top: -10px;
    flex: 1 0 auto;
    background-color: #121212;
    height: 100%;
}
#navbar{
    margin-bottom: -8px;
}
#navbarText{
  flex-direction: row;
  flex: content;
  justify-content: right;
  padding-left: inherit;
}
#home{
  background-color: #212121;
  color: #FFFFFF;
  margin-top: 5px;
}
#numybtn{
	color:#000000;
	background-color:#BB86FC ;
}
.nav-item{
    padding: inherit;
    font-size: 18px;
}
#row_img{
    display: flex;
    flex-wrap: wrap;
    padding: 0 20px;
}
#col_img{
  flex: 25%;
  text-align: center;
  padding: 40px 4px;
}
img{
    width: 100px; height: 200px;
}